<div class="container">
  <div class="header row">
    <div class="twelve columns">
      <h4>Candylands</h4>
    </div>
  </div>
  <div class="twelve columns back-button">
    <a class="button" id="back-button" href="/">Back</a>
  </div> 
  <div class="row">
    <div class="twelve columns">
      <div class="sh-content">
      <!-- main content divided into four columns -->
        <!-- first column -->
        <div class="three columns content">
          <% @countries[0..@countries.length/4].each do |c| %>
            <p><a href="/countries/<%= c.id %>/candies"><%= c.name %></a></p>
          <% end %>
        </div>
        <!-- column ends here -->
        <!-- second column -->
        <div class="three columns">
          <% @countries[@countries.length/4+1..2*@countries.length/4].each do |c| %>
            <p><a href="/countries/<%= c.id %>/candies"><%= c.name %></a></p>
          <% end %>
        </div>
        <!-- column ends here -->
        <!-- third column -->
        <div class="three columns">
          <% @countries[2*@countries.length/4+1..3*@countries.length/4].each do |c| %>
            <p><a href="/countries/<%= c.id %>/candies"><%= c.name %></a></p>
          <% end %>
        </div>
        <!-- column ends here -->
        <!-- fourth column -->
        <div class="three columns">
          <% @countries[3*@countries.length/4+1..-1].each do |c| %>
            <p><a href="/countries/<%= c.id %>/candies"><%= c.name %></a></p>
          <% end %>
        </div>
        <!-- column ends here</ -->
        <!-- main content ends here -->
      <div>
    </div>
  </div>
</div>